*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.CONTAINER{
    width: 100%;
    height: 100vh;
background-image: url(image/BMW1.png);
background-image: url(image/BMW2.png);
background-image: url(image/BMW3.png);
background-position:center ;
background-color: #130d0d;
background-size:cover;
padding: 20px 10%;
transition: background-image  all 0.4s  ;
}
.btn{
    padding:10px 25px;
background-color: #555;
color:white;
border-radius:25px;
font-weight: 500;
cursor: pointer;
}

.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right:auto ;
}
.nav logo{
    width: 160px;
    cursor:pointer
}
.content{
    margin: 10%;
margin-left: auto;
}
.content h2{
    color: rgb(151, 6, 6);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 600;

}
.content h1{
    color:#222;
    font-size:100px ;
    margin-top: 25px;
}
.content h3{
    color: #222;
    font-size: 18px;
    margin-top: 10px;
    
}
.content p{
    color: #322b2b;
    font-size: 14px;
    font-weight: 500;
    max-width: 300px;

}

.color-select div{
    background-color: #333;
    width: 50px;
    height: 50px;
    border-radius:50%;
    margin-right: 10px;
    cursor: pointer;

}
.color-select{
    display:flex;
    margin-top:35px;
    box-shadow: #721515;
}
.color-select #red{
    background:red;
}
.color-select #Black{
background:black;
}
.color-select #Blue{
    background:blue;
}